{% extends "reading_notes/base.html" %}

{% block content %}
    <script>

        var selectedYear = $.cookie('lastSelectedYear');
        var selectedMonth = $.cookie('lastSelectedMonth');

        function addNotes(year, month, note_date, note_content) {
           var tr = $('<tr> \
                        <td class="span2"><p class="muted"><small>' + note_date + '</small></p></td> \
                        <td class="span10">' + note_content + '</td> \
                    </tr>');
           if (year == selectedYear && month - 1 == selectedMonth) {
             $(tr).addClass('info');
           }
           $("#notes tbody").append(tr);
        }
    </script>
    <div id="wrap">    
    <div class="container">
        <div class="row detail-head">
            <blockquote class="">
              <p>{{ reading.title }}</p>
              {% if reading.author %}       
                  <small>{{ reading.author }}</small>
              {% else %}
                  <br>
              {% endif %}
            </blockquote>
        </div>
        <div class="row">
            <table id="notes" class="table table-striped">
              <tbody>
                    <script>
                        {% for note in notes %}
                            {% autoescape on %}
                                addNotes({{ note.create_date|date:'Y' }}, 
                                    {{ note.create_date|date:'m' }}, 
                                    "{{ note.create_date|date:'Y-m-d H:i:s' }}", "{{ note.context|escape|linebreaksbr }}");
                            {% endautoescape %}
                        {% endfor %}
                    </script>
              </tbody>

            </table>
        </div>
        <div class="row">
            <p class="text-center"><a href="/">回到主页</a></p>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <p class="text-right muted credit">This project is maintained by <a>watermelon</a>.</p>
        </div>
    </div>
    </div>
{% endblock content %}
{% block css %}
    .detail-head {
        margin-top: 50px
    }
    blockquote small:before {
        content : ""
    }
{% endblock css %}
