{% extends "reading_notes/base.html" %}

{% block content %}
    <div class="page-header">
        <h3>读书笔记</h3>
        <p>身体和灵魂，总有一个要在路上。</p>
    </div>
    <div class="row tabbable tabs-left">
        <ul class="span3 nav nav-tabs">
            <li class="active"><a href="#">2012 DEC</a></li>
            <li><a href="#">2013 JAN</a></li>
        </ul>
        <div class="span9 tab-content">
            <ul class="nav nav-pills nav-stacked">      
                <li class="active"><a href="#">ARTICLE1</a></li>
                <li><a href="#">ARTICLE2</a></li>
            </ul>
        </div>          
    </div>
{% endblock content %}
{% block footer %}
<div id="footer">
      <div class="container">
        <p class="muted credit">This project is maintained by <a href="http://watermelonl.info">watermelon</a>.</p>
      </div>
    </div>
{% endblock footer %}
