{% extends "reading_notes/base.html" %}

{% block content %}
    <div id="wrap">
        <div class="container">
            <div class="page-header">
                <h3>读书笔记</h3>
                <p>身体和灵魂，总有一个要在路上。</p>
            </div>
            <div class="row tabbable tabs-left">
                <ul id="monthList" class="span3 nav nav-tabs">
                </ul>
                <div class="span9 tab-content">
                    <ul id="readings" class="nav nav-pills nav-stacked">      
                    </ul>
                </div>          
            </div>
        </div>          
    </div>
{% endblock content %}
{% block footer %}
    <div id="footer">
      <div class="container">
        <p class="muted credit">This project is maintained by <a>watermelon</a>.</p>
      </div>
    </div>
{% endblock footer %}
{% block css %}
    .date {
        text-transform: uppercase;
    }
{% endblock css %}
{% block script %}
    <script>
        function reloadReadings(year, month) {
            $('#readings li').remove();
            $.getJSON("/readings", { year : year, month : month }, function(data) {
               console.log(data); 
               $.each(data, function(index, value) {
                console.log(value);
                var li = $('<li class="text-center"><a></a></li>'); 
                $("a", li).text(value.title);
                $("a", li).attr("href", "/detail/" + value.reading_id);
                $('#readings').append(li);
               })
            });
        }   
        //var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var monthNames = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
        var now = new Date();
        for (var year = now.getFullYear(); year >= 2013; year--)
            for (var month = now.getMonth(); month >= 0; month--)
            {
                var li = $('<li class="text-center"><a class="date"></a></li>'); 
                $("a", li).text(year.toString() + ' ' + monthNames[month]);
                li.attr('year', year);
                li.attr('month', month);
                $('#monthList').append(li);
            }
        var li = $('#monthList').find('li:eq(0)');
        li.addClass("active");
        reloadReadings(li.attr('year'), li.attr('month'));
        $('#monthList li').click(function() {
            $('#monthList li').removeClass('active');
            $(this).addClass('active');
            reloadReadings($(this).attr('year'), $(this).attr('month'));
        });
    </script>
{% endblock script %}
